:root {
  --primary-color: cornsilk;
  --secondary-color: #eba300;
}
body {
  background: var(--primary-color);
  text-align: center;
  font-family: var(--font);
  font-size: 22px;
}

footer {
  display: flex;
  justify-content: center;
}
footer a {
  padding: 5px 10px;
  color: var(--secondary-color);
  font-weight: bold;
}
